<h2 class="text-center">CON EL APOYO DE</h2>
<aside class="partner">
	<a href="http://www.cvo.cl/2016" target="_blank">
		<%= image_tag("logo-cvo.png", class: "partner-img img-responsive center-block m-y-lg") %>
	</a>
	<a href="http://www.nubecowork.biz" target="_blank">
		<%= image_tag("nubecowork.png", class: "partner-img img-responsive center-block m-y-lg") %>
	</a>
	<a href="http://startupchile.org" target="_blank">
		<%= image_tag("startupchile.png", class: "partner-img img-responsive center-block m-y-lg") %>
	</a>
	<a href="http://www.up.co/communities/chile/osorno/startup-weekend?lang=es" target="_blank">
		<%= image_tag("startupweekend.png", class: "partner-img img-responsive center-block m-y-lg") %>
	</a>
</aside>