	<%= yield %>
<div class="container">
	<div class="row">
		<footer class="footer p-a-md">
			<p class="text-center lead m-a-0"><a href="mailto:contacto@rutaqr.cl">contacto@rutaqr.cl</a></p>
		</footer>
	</div>
</div>
</body>
</html>
